In [28]:
import pandas as pd
import numpy as np

In [58]:
dataset = pd.read_csv('F:/Nividha/Lambton/CBD/Activity_2/mtcars.csv')
dataset.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [49]:
X = dataset.iloc[:, 1:5].values
y = dataset.iloc[:, 1:5].values
print(X)
print(y)

[[ 21.    6.  160.  110. ]
 [ 21.    6.  160.  110. ]
 [ 22.8   4.  108.   93. ]
 [ 21.4   6.  258.  110. ]
 [ 18.7   8.  360.  175. ]
 [ 18.1   6.  225.  105. ]
 [ 14.3   8.  360.  245. ]
 [ 24.4   4.  146.7  62. ]
 [ 22.8   4.  140.8  95. ]
 [ 19.2   6.  167.6 123. ]
 [ 17.8   6.  167.6 123. ]
 [ 16.4   8.  275.8 180. ]
 [ 17.3   8.  275.8 180. ]
 [ 15.2   8.  275.8 180. ]
 [ 10.4   8.  472.  205. ]
 [ 10.4   8.  460.  215. ]
 [ 14.7   8.  440.  230. ]
 [ 32.4   4.   78.7  66. ]
 [ 30.4   4.   75.7  52. ]
 [ 33.9   4.   71.1  65. ]
 [ 21.5   4.  120.1  97. ]
 [ 15.5   8.  318.  150. ]
 [ 15.2   8.  304.  150. ]
 [ 13.3   8.  350.  245. ]
 [ 19.2   8.  400.  175. ]
 [ 27.3   4.   79.   66. ]
 [ 26.    4.  120.3  91. ]
 [ 30.4   4.   95.1 113. ]
 [ 15.8   8.  351.  264. ]
 [ 19.7   6.  145.  175. ]
 [ 15.    8.  301.  335. ]
 [ 21.4   4.  121.  109. ]]
[[ 21.    6.  160.  110. ]
 [ 21.    6.  160.  110. ]
 [ 22.8   4.  108.   93. ]
 [ 21.4   6.  258.  110. ]
 [ 18.7   8.  360.  175. ]
 [ 18.1   6.  225.  105. ]
 [ 14.3   8.  360.  245. ]
 [ 24.4   4.  146.7  62. ]
 [ 22.8   4.  140.8  95. ]
 [ 19.2   6.  167.6 123. ]
 [ 17.8   6.  167.6 123. ]
 [ 16.4   8.  275.8 180. ]
 [ 17.3   8.  275.8 180. ]
 [ 15.2   8.  275.8 180. ]
 [ 10.4   8.  472.  205. ]
 [ 10.4   8.  460.  215. ]
 [ 14.7   8.  440.  230. ]
 [ 32.4   4.   78.7  66. ]
 [ 30.4   4.   75.7  52. ]
 [ 33.9   4.   71.1  65. ]
 [ 21.5   4.  120.1  97. ]
 [ 15.5   8.  318.  150. ]
 [ 15.2   8.  304.  150. ]
 [ 13.3   8.  350.  245. ]
 [ 19.2   8.  400.  175. ]
 [ 27.3   4.   79.   66. ]
 [ 26.    4.  120.3  91. ]
 [ 30.4   4.   95.1 113. ]
 [ 15.8   8.  351.  264. ]
 [ 19.7   6.  145.  175. ]
 [ 15.    8.  301.  335. ]
 [ 21.4   4.  121.  109. ]]

In [50]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [51]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [56]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [57]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 7.712500000000002
Mean Squared Error: 235.03869642857137
Root Mean Squared Error: 15.330971803136661